.userBubbleContainer {
  position: relative;
  margin-bottom: 2rem;
}

.userBubble {
  background-color: white;
  color: black;
  padding: 1rem;
  border-radius: 20px;
  max-width: 100%;
  margin: 0.5rem auto;
  align-self: flex-end;
}

.agentABubble {
  background-color: var(--background);
  color: white;
  padding: 1rem;
  border-radius: 20px;
  max-width: 100%;
  margin: 0.5rem 0;
  align-self: flex-end;
  border: 1px solid white;
}

.agentBBubble {
  background-color: var(--background);
  color: white;
  padding: 1rem;
  border-radius: 20px;
  max-width: 100%;
  margin: 0.5rem 0;
  align-self: flex-start;
  border: 1px solid white;
}

.timestamp {
  font-size: 0.75rem;
  color: var(--signature);
  position: absolute;
  top: -1rem;
  left: 1rem;
}
