.userBubbleContainer {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.userBubble {
  background-color: white;
  color: black;
  padding: 1rem;
  border-radius: 20px;
  align-self: flex-end;
}

.agentABubbleContainer,
.agentBBubbleContainer {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.agentABubble {
  background-color: var(--background);
  color: #c5ae65;
  padding: 1rem;
  border-radius: 20px;
  align-self: flex-end;
  border: 1px solid #c5ae65;
  max-width: 100%;
  word-wrap: break-word;
}

.agentABubble::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 15px;
  height: 15px;
  background-color: #c5ae65;
  display: block;
}

.agentBBubble {
  background-color: var(--background);
  color: #8fa2c3;
  padding: 1rem;
  border-radius: 20px;
  align-self: flex-start;
  border: 1px solid #8fa2c3;
  max-width: 100%;
  word-wrap: break-word;
}

.agentBBubble::after {
  content: '';
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 15px;
  height: 15px;
  background-color: #8fa2c3;
  display: block;
}

.timestamp {
  font-size: 0.75rem;
  color: var(--signature);
  position: absolute;
  top: -1rem;
  left: 1rem;
}
