.scrollingText {
    display: flex;
    white-space: nowrap;
    font-size: 15vw;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 1px #5b5b5b;
}

.wrapper {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    transform: translateY(-50%);
    pointer-events: none;
}